# PYTHON DEVELOPER #

1. Pandas: O que é e para que serve?

**Pandas** é uma biblioteca de Python usada para manipulação e análise de dados. Facilita a manipulação de tabelas e séries temporais, permitindo a limpeza, análise e transformação de dados.

2. NumPy: O que é e para que serve?

**NumPy** é uma biblioteca de Python para computação científica. Fornece suporte para arrays multidimensionais e operações matemáticas sobre esses arrays, essencial para cálculos numéricos e científicos.

3. scikit-learn: O que é e para que serve?

**scikit-learn** é uma biblioteca de Python para aprendizado de máquina. Oferece ferramentas para criar e avaliar modelos de machine learning, incluindo algoritmos de classificação, regressão, clustering e mais.

4. Como carregar dados no Pandas?

In [ ]:
# Carregar dados de um arquivo CSV
df = pd.read_csv('caminho/para/arquivo.csv')
df.head()  # Mostrar as primeiras linhas do DataFrame

5. Como criar um DataFrame?

In [ ]:
# Criar um DataFrame a partir de um dicionário
data = {'Coluna1': [1, 2, 3], 'Coluna2': [4, 5, 6]}
df = pd.DataFrame(data)
df

6. O que são Series?

Uma **Series** é uma estrutura de dados unidimensional no Pandas, semelhante a um vetor ou coluna de uma tabela. Possui um índice e pode armazenar dados de diversos tipos.

7. Como mostrar um cabeçalho e um rodapé?
python

In [ ]:
# Mostrar as 5 primeiras linhas
df.head()

# Mostrar as 5 últimas linhas
df.tail()

8. Como ver a quantidade de entradas no DataFrame?

In [ ]:
# Número de linhas e colunas
df.shape

# Número de linhas
len(df)

9. Como retornar o número de linhas e colunas de um DataFrame?
python

In [ ]:
# Número de linhas e colunas
num_linhas, num_colunas = df.shape
num_linhas, num_colunas

10. Informações do DataFrame:

In [ ]:
# Informações gerais sobre o DataFrame
df.info()

11. Crie uma tabela com Excel, MySql, Pandas e Python

In [1]:
import pandas as pd

# Dados da tabela
data = {
    "Categoria": [
        "Números Inteiros",
        "Números de Ponto Flutuante",
        "Texto",
        "Data e Hora",
        "Booleano",
        "Dados Binários",
        "Estruturas Compostas"
    ],
    "Excel": [
        "Número Geral (inteiros)",
        "Número Geral (decimais)",
        "Texto",
        "Data e Hora",
        "Booleano (VERDADEIRO/FALSO)",
        "Não suportado diretamente",
        "Não suportado diretamente"
    ],
    "MySQL": [
        "`TINYINT`, `SMALLINT`, `MEDIUMINT`, `INT`, `BIGINT`",
        "`FLOAT`, `DOUBLE`",
        "`CHAR`, `VARCHAR`, `TEXT`, `MEDIUMTEXT`, `LONGTEXT`",
        "`DATE`, `TIME`, `DATETIME`, `TIMESTAMP`",
        "`BOOLEAN`, `BIT`",
        "`BLOB`, `MEDIUMBLOB`, `LONGBLOB`",
        "Não aplicável"
    ],
    "Pandas": [
        "`int`",
        "`float`",
        "`object`, `string`",
        "`datetime64`, `timedelta`",
        "`boolean`",
        "`object` (usando `bytes`)",
        "`DataFrame` (tabelas), `Series` (colunas)"
    ],
    "Python": [
        "`int`",
        "`float`",
        "`str`",
        "`datetime.date`, `datetime.time`, `datetime.datetime`, `datetime.timedelta`",
        "`bool`",
        "`bytes`",
        "`list`, `tuple`, `set`, `dict`"
    ]
}

# Criar DataFrame
df = pd.DataFrame(data)

# Exibir tabela
df

,Categoria,Excel,MySQL,Pandas,Python
0,Números Inteiros,Número Geral (inteiros),"`TINYINT`, `SMALLINT`, `MEDIUMINT`, `INT`, `BI...",`int`,`int`
1,Números de Ponto Flutuante,Número Geral (decimais),"`FLOAT`, `DOUBLE`",`float`,`float`
2,Texto,Texto,"`CHAR`, `VARCHAR`, `TEXT`, `MEDIUMTEXT`, `LONG...","`object`, `string`",`str`
3,Data e Hora,Data e Hora,"`DATE`, `TIME`, `DATETIME`, `TIMESTAMP`","`datetime64`, `timedelta`","`datetime.date`, `datetime.time`, `datetime.da..."
4,Booleano,Booleano (VERDADEIRO/FALSO),"`BOOLEAN`, `BIT`",`boolean`,`bool`
5,Dados Binários,Não suportado diretamente,"`BLOB`, `MEDIUMBLOB`, `LONGBLOB`",`object` (usando `bytes`),`bytes`
6,Estruturas Compostas,Não suportado diretamente,Não aplicável,"`DataFrame` (tabelas), `Series` (colunas)","`list`, `tuple`, `set`, `dict`"

12. Como examinar tipos no Pandas?

In [ ]:
# Tipos de dados das colunas
df.dtypes

13. Explique sobre describe()

In [ ]:
# Estatísticas descritivas das colunas numéricas
df.describe()

14. Como acessar apenas uma coluna?

In [ ]:
# Acessar uma coluna específica
coluna1 = df['Coluna1']
coluna1

15. Como fatiar um DataFrame?

In [ ]:
# Fatiar o DataFrame usando loc (rótulos)
subset_loc = df.loc[0:1, 'Coluna1':'Coluna2']

# Fatiar o DataFrame usando iloc (posições)
subset_iloc = df.iloc[0:2, 0:2]

16. O que é IA?

**Inteligência Artificial (IA)** é o campo da ciência da computação que busca criar sistemas que realizam tarefas que normalmente requerem inteligência humana.

17. O que é Machine Learning?

**Machine Learning (Aprendizado de Máquina)** é uma subárea da IA que foca em criar algoritmos e modelos que permitem aos computadores aprender e fazer previsões com base em dados.

18. O que é Deep Learning?

**Deep Learning (Aprendizado Profundo)** é um subcampo do Machine Learning que usa redes neurais profundas para modelar padrões complexos em grandes volumes de dados.

19. Quais problemas a IA pode resolver?

- Reconhecimento de imagem
- Processamento de linguagem natural
- Diagnóstico médico
- Análise preditiva
- Automação de processos
- Entretenimento

20. Comente sobre funções: loc e iloc

- loc: Seleciona dados usando rótulos de linhas e colunas.
- iloc: Seleciona dados usando posições inteiras.

21. Como limpar dados NaN (ausentes)?

In [ ]:
# Remover linhas com NaN
df_clean = df.dropna()

# Preencher NaN com um valor específico
df_filled = df.fillna(value=0)